---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "dynamicdns-pollingservice.fullname" . }}
  labels:
    {{- include "dynamicdns-pollingservice.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "dynamicdns-pollingservice.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "dynamicdns-pollingservice.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}